
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_doctorDashboard.cshtml";
}

<section class="content-header">
    <h1>
        <strong> Dashboard</strong>

        <small>Surmmary of your application</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        @{ 
                            if(ViewBag !=null)
                            {
                                @ViewBag.NumberOfPatients
                            }
                        }
                    </h3>
                    <p>patient</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
                <a href="@Url.Action("patientList", "doctor")" class="small-box-footer">View All patient list <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        @{ 
                            if(ViewBag !=null)
                            {
                                @ViewBag.NumberOfPrescribtions
                            }
                        }
                    </h3>
                    <p>Prescription </p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
                <a href="@Url.Action("PrescribtionList", "doctor")" class="small-box-footer">View All Prescription <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue-active">
                <div class="inner">
                    <h3>
                        @{ 
                            if(ViewBag !=null)
                            {
                                @ViewBag.NumberOfPrescribtions
                            }
                        }
                    </h3>
                    <p>Accepted list of Patients </p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
                <a href="@Url.Action("PatientList", "doctor")" class="small-box-footer">View All Patients <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>22</h3>
                    <p>Accepted Appoinments </p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
                <a href="@Url.Action("PrescribtionList", "doctor")" class="small-box-footer">View All Accepted Appoinments <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>
                    <p>Tratment Close</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="@Url.Action("PrescribtionList", "doctor")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>32</h3>
                    <p>Ongoing Tratment</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="@Url.Action("PatientList", "doctor")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

</section>

