@model DoctorConsult.Core.ViewModel.DoctorViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                        @Html.DisplayFor(model => model.Image)
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @Html.DisplayFor(model => model.FirstName)
                            @Html.DisplayFor(model => model.LastName)
                        </h4>

                        <br />
                        <br />
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)
                            <br />
                            <i class="glyphicon glyphicon-globe"></i> <a href="http://www.doctorconsult.com">www.doctorconsult.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> @Html.DisplayFor(model => model.Bithdate)
                        </p>
                        <i class="fa">&#xf22c;</i>
                        @Html.DisplayFor(model => model.Gender)
                        <br />
                        <br />
                        <small>
                            <cite>
                                @Html.DisplayFor(model => model.Location) <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <hr />
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Speciality
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Pain Management</a></li>
                                <li><a href="#">Allergy & Immunology +</a></li>
                                <li><a href="#">Anesthesia</a></li>
                                <li class="divider"></li>
                                <li><a href="#"> Physiotherapy</a></li>
                            </ul>
                            <br />
                            <br />
                        </div>
                        <i @Html.Display("fa fa-home")><a href="">Check this doctor</a></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h2>Profile</h2>

    <div>
        <h4>Doctor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Full name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Bithdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bithdate)
            </dd>

            <dt>
                @Html.DisplayName("Blood group")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodGroup)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Specialist)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specialist)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayName("Contact number")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "DoctorList", "Home")
    </p>*@
