@model DoctorConsult.Core.Entity.Model.PatientsProblemPageForDoctorModel

@{
    ViewBag.Title = "PatientsProblemPageForDoctor";
    Layout = "~/Views/Shared/_doctorDashboard.cshtml";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">

                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProblemSummary)
                            <textarea readonly class="form-control" rows="3" placeholder="Enter ...">
                                @{ 
                                    if(Model!=null)
                                    {
                                        @Model.ProblemSummary
                                    }
                                }
                            </textarea>
                            @*@Html.TextAreaFor(model => model.ProblemSummary, new { @class = "form-control", @readonly = "readonly", placeholder = (Model != null) ? @Model.ProblemSummary : "Patient problem summary is here", @style = "resize: none;" })*@
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.PreviousProblemFile)<br>
                            <button type="button" class="btn btn-primary" style="margin-right: 5px;">
                                <i class="fa fa-download"></i> Download
                            </button>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.PreviousProblemReportFile)<br>
                            <a  href="" class="btn btn-primary" style="margin-right: 5px;">
                                <i class="fa fa-download"> </i> Download
                            </a>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProblemDetails)
                            <textarea readonly class="form-control" rows="3" placeholder="Enter ...">
                                @{ 
                                    if(Model!=null)
                                    {
                                        @Model.ProblemDetails
                                    }
                                }
                            </textarea>
                            @*@Html.TextAreaFor(model => model.ProblemDetails, new { @class = "form-control", @readonly = "readonly", placeholder = "Write Details Of Your Problem", @style = "resize: none;overflow-y: scroll;" })*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FilePath)<br>
                            <a hre class="btn btn-primary" style="margin-right: 5px;">
                                <i class="fa fa-download"></i> Download
                            </a>
                        </div>

                        <a href="@if (Model != null)
                                 {
                                     @Url.Action("Prescribe", "Doctor", new {patientId = Model.PatintId})
                                 }" class="btn btn-primary btn-lg btn-block" >Prescribe</a>

                    }

                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
