@model DoctorConsult.Core.Entity.Model.PrescriptionModel

@{
    ViewBag.Title = "Prescribe";
    Layout = "~/Views/Shared/_doctorDashboard.cshtml";
}

<style type="text/css">
    .bg_1 {
        background-color: green;
    }

    .bg_2 {
        background-color: gray;
    }


    .error_msg {
        color: #f00;
        display: none;
    }

    .table {
        /* width: 100%; */
        /* max-width: 100%; */
        margin-bottom: 0px;
    }
</style>
<form>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">create prescription</h3>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="col-md-4">
                    <label asp-for="ReferToAnotherDr">Refer another Dr.</label>
                    <input type="text" asp-for="ReferToAnotherDr" class="form-control" placeholder="Type another dr. name" id="ReferToAnotherDr" name="ReferToAnotherDr" />
                </div>
                <div class="col-md-4">
                    <label asp-for="ReferDiagnostic">Refer Diagnostic</label>
                    <input type="text" asp-for="ReferDiagnostic" class="form-control" placeholder="Diagnostic name" id="ReferDiagnostic" name="ReferDiagnostic" />
                </div>
                <div class="col-md-4">
                    <label asp-for="PrescribtionDate">Prescribtion Date</label>
                    @Html.TextBoxFor(x => x.PrescribtionDate, DateTime.UtcNow.ToShortDateString(), new { @class = "form-control mydatepicker", @placeholder = "Prescribtion date", id = "PrescribtionDate", onkeyup = "blankme(this.id)" })
                    <small id="error_PrescribtionDate" class="form-text error_msg">Date can't be empty</small>
                </div>
                <div class="col-xs-4">
                    <label asp-for="PrescribtionDate">Next Visit Date</label>
                    @Html.TextBox("NextVisitDate", DateTime.UtcNow.ToShortDateString(), new { @class = "form-control mydatepicker", @placeholder = "Prescribtion date", id = "NextVisitDate" })
                    @Html.ValidationMessageFor(model => model.NextVisitDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-4">
                    <label asp-for="Cause">Cause Given </label>
                    @Html.TextAreaFor(model => model.Cause, new { htmlAttributes = new { @class = "form-control", @placeholder = "Write Casue", id = "Cause", onkeyup="blankme(this.id)" } })
                    <small id="error_Cause" class="form-text error_msg">Cause can't be empty</small>
                   
                </div>
                <div class="col-xs-4">
                    <label asp-for="Comment" > Dr. comment</label>
                    @Html.TextArea("Comment", new { htmlAttributes = new { @class = "form-control", @row = 4, @placeholder = "Write conment", id = "Comment", @rows = 10, @cols = 400,
                    onkeyup="blankme(this.id)"}})
                    <small id="error_Comment" class="form-text error_msg">Comment can't be empty</small>
                </div>


            </div>
            <div class="col-md-3 col-sm-4">
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">VISIT DOCTOR</span>
                        <span class="info-box-number"></span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 30%"></div>
                        </div>
                        <span class="progress-description">
                            30% Visit in 1 Year
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">FREQUENTLY SICK</span>
                        <span class="info-box-number">15</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            70% Sick in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>


            <!-- /.description-block -->

            <div class="col-md-8 col-md-offset-1">
                <div class="col-md-4 ">
                    <br />
                    <input type="button" value="Add Medicine" data-toggle="modal" data-target="#medicineModal" class="btn btn-primary" />
                </div>
            </div>



            <div class="col-md-8 col-md-offset-1">
                <br />
                <br />
                <table id="MedicineTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Medicine Name</td>
                            <td>Quantity </td>
                            <td>Days</td>
                            <td>Daily Times</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="MedicineItems"></tbody>
                </table>
            </div>




            <div class="col-md-8 col-md-offset-1">
                <div class="col-md-4 ">
                    <br />
                    <input type="button" value="Add Medical Test" data-toggle="modal" data-target="#medicalTestModal" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <br />
                <br />
                <table id="TestTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Medicine Test Name</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody id="TestItems"></tbody>
                </table>
            </div>


            <div class="col-md-8 col-md-offset-1">
                <div class="col-md-4 ">
                    <br />
                    <input data-patient-id="@Model.PatientId" type="submit" value="Save Prescription" class="btn btn-success" id="btnSubmit" />
                </div>
            </div>


        </div>

        <br />
    </div>

</form>


<!-- medicine modal form-->
<div class="row">
    <div class="col-md-6">
        <div class="modal fade bs-example-modal-sm" id="medicineModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <h4 class="modal-header">Medicine information</h4>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-12">
                                <label class="control-label">Medicine Name</label>
                                @Html.Editor("Medicine Name", new { htmlAttributes = new { @class = "form-control", @placeholder = "Write medicine Name", id = "name", onkeyup = "blankme(this.id)" } })
                                <small id="error_name" class="form-text error_msg  ">Medicine name can't the empty</small>
                            </div>
                            @*<div class="col-md-6">
                                    <label class="control-label">Quantity</label>
                                    @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", id = "Description" } })

                                </div>*@
                            <div class="col-md-6">
                                <label class="control-label">Days</label>
                                @Html.Editor("Days", new { htmlAttributes = new {type="number", @class = "form-control", id = "days", onkeyup = "blankme(this.id)" } })
                                <small id="error_days" class="form-text error_msg">days can't the empty</small>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label">Daytime</label>
                                @Html.DropDownList("DayTime", new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "0-0-1", Value="1"},
                                    new SelectListItem() {Text = "0-1-0", Value="1"},
                                    new SelectListItem() {Text = "1-0-0", Value="1"},
                                    new SelectListItem() {Text = "1-1-0", Value="2"},
                                    new SelectListItem() {Text = "1-0-1", Value="2"},
                                    new SelectListItem() {Text = "0-1-1", Value="2"},
                                    new SelectListItem() {Text = "1-1-1", Value="3"},
                                },  new { @class = "form-control", id="DayTime", onkeyup = "blankme(this.id)" })
                                <small id="error_DayTime" class="form-text error_msg ">Daytime can't the empty</small>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <a id="btnAddMedicine" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                        <a id="BtnCloseMedicine" class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-off"></span> Close
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- medicine modal form-->
<div class="row">
    <div class="col-md-6">
        <div class="modal fade bs-example-modal-sm" id="medicalTestModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <h4 class="modal-header">medicalTest information</h4>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-6">
                                <label class="control-label">Medical Test Name</label>
                                @Html.Editor("Medicine Test Name", new { htmlAttributes = new { @class = "form-control", @placeholder = "Write medical Test Name", id = "Testname" } })
                                <small id="error_Testname" class="form-text error_msg">Medicale test  can't the empty</small>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a id="btnAddTest" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                        <a id="BtnCloseTest" class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-off"></span> Close
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/prescribe.js"></script>

}