@model DoctorConsult.Core.Entity.Model.DoctorProfileModel

@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="callout callout-info">

                <div class="container-fluid profile_big_banner text-center">
                    <img src=@Model.Image class="img-circle profile_page_doctor_image" alt="profile pic" height="15%;" width="15%;">
                    <p class="profile_page_doctor_name">@Model.FullName</p>
                    <p class="profile_page_doctor_designation">Associate Professor, Dept of Dermatology, Northern Int. Medical College Hospital</p>
                    <p class="profile_page_doctor_sp">@Model.Specialist</p>
                </div>
            </div>

            <div class="col-lg-6 col-sm-1">
                <div class="profile_page_info_block text-center">
                    <p class="block_heading custom_para"><i class="fa fa-stethoscope" aria-hidden="true"></i> Specialist in</p>
                    <p class="block_heading custom_para"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></p>
                    <p class="custom_para">@Model.Specialist</p><hr class="custom_para custom_hr_profile">
                    <p class="profile_degree_portion">MBBS, FCPS (Skin &amp; Allergy), MCPS (Skin &amp; Allergy), CCD (Diabetes)</p>
                    <hr class="custom_para custom_hr_profile"><p class="profile_description_portion">Sex Specialist, Skin, Allergy, Diabetes Specialist. </p>
                </div>
            </div>

            <input type="button" value="Consult" class="btn btn-info" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse" onclick="@("window.location.href='" + @Url.Action("PatientsConsult", "Patient", new { doctorId = Model.Id }) + "'");" />
        </div>
    </div>
</div>