@model IEnumerable<DoctorConsult.Core.Entity.Model.DoctorProfileModel>

@{
    ViewBag.Title = "Doctor List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor List</h2>

<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-0">
                <div class="col-lg-12">
                    <div class="row pt-md">


                        @foreach (var item in Model)
                        {

                            

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img alt="profile-photo" src=@item.Image class="img-responsive">
                            </div>

                            <h3>@item.FullName</h3>
                            <strong>@item.Specialist</strong>
                            <p>@item.Email</p>
                            <p>@item.Location</p>



                            <a href="@Url.Action("DoctorProfile", "Home", new { doctorId=item.Id})" class="btn btn-primary btn-sm btn-block" >Details</a>
                            <br />
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>