
@model DoctorConsult.Core.Entity.ViewModel.SearchViewModel

@{
    ViewBag.Title = "Home Page";
}



@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="jumbotron" style="background-image: url('/Images/portal.jpg');">
    <h1>Find your doctor</h1>


    @using (Html.BeginForm())
    {
        <div class="form-inline">
            <div class="form-group">
                @Html.DropDownListFor(x => x.CityName, new List<SelectListItem>
            {
                new SelectListItem() {Text = "Dhaka", Value="Dhaka"},
                new SelectListItem() {Text = "Rangpur", Value="Rangpur"},
                new SelectListItem() {Text = "Dinajpur", Value="Dinajpur"},
                new SelectListItem() {Text = "Khulna", Value="Khulna"},
            }, "Select City", new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.SearchCatagory, new List<SelectListItem>
                {
                    new SelectListItem() {Text = "Dentist", Value="Dentist"},
                    new SelectListItem() {Text = "Pain specaility", Value="Pain specaility"},
                    new SelectListItem() {Text = "Cardiology", Value="Cardiology"},
                }, "Select Speciality", new { @class = "form-control" })

            </div>
            <input type="submit" class="btn btn-success" value="Search"/>
        </div>
        @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" }) <br/>
        @Html.ValidationMessageFor(model => model.SearchCatagory, "", new { @class = "text-danger" })
    }

</div>


<div class="col-lg-4 col-sm-4 text-center">
    <span><img style="height: 150px; width: 150px;" src="https://doctorola.com//frontend_assets/images/final.svg#svgView(viewBox(39,337,139,141))"></span>
    <div class="how_it_works_inside_text">
        <p class="how_it_works_inside_text_header text-center">SEARCH</p>
        <p class="how_it_works_inside_text_content text-center">
            Find your doctor easily with a minimum of effort. We've kept everything organised for you.
        </p>
    </div>
</div>

<div class="col-lg-4 col-sm-4 text-center">
    <span><img style="height: 150px; width: 150px;" src="https://doctorola.com//frontend_assets/images/final.svg#svgView(viewBox(255,337,139,141))"></span>
    <div class="how_it_works_inside_text">
        <p class="how_it_works_inside_text_header text-center">BOOK</p>
        <p class="how_it_works_inside_text_content text-center">
            Ask for an appointment of the doctor quickly with almost a single click. We take care of the rest.
        </p>
    </div>
</div>

<div class="col-lg-4 col-sm-4 text-center">
    <span><img style="height: 150px; width: 150px;" src="https://doctorola.com//frontend_assets/images/final.svg#svgView(viewBox(460,337,139,141))"></span>
    <div class="how_it_works_inside_text">
        <p class="how_it_works_inside_text_header text-center">GET WELL SOON</p>
        <p class="how_it_works_inside_text_content text-center">Take the service from doctor or meet the blood donor based on your appointment.	Get back to good health and happiness.</p>
    </div>
</div>

    &nbsp;
