
@model DoctorConsult.Core.ViewModel.SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Find your doctor</h1>
    <table>
        @*<tr>
                <td>@Html.DisplayName("City name?")</td>
                <td>@Html.DisplayName("Looking for?")</td>
                <td>@Html.DisplayName("Search catagory?")</td>
            </tr>*@
        <tr>
            @using (Html.BeginForm())
            {
                <td>
                    @Html.DropDownListFor(s => s.CityName, new SelectList(
                          new List<Object>{
                           new {value = 0, text = "Dhaka",},
                           new {value = 1, text = "Banani"},
                           new {value = 2, text = "Kuril"},
                           new {value = 3, text = "Mirpur"},
                           new {value = 4, text = "Agargoan"},
                           new {value = 5, text = "Khilkhet"}
                          }, "value", "text", 0), new { style = "height: 30px" })
                </td>
                <td>
                    @Html.DropDownListFor(s => s.LookingFor, new SelectList(
                          new List<Object>{
                           new {value = 0, text = "Doctor"},
                           new {value = 1, text = "Admin"}
                          }, "value", "text", 0), new { style = "height: 30px" })
                </td>
                <td>@Html.TextBoxFor(s => s.SearchCatagory, new { @class = "form-control mr-sm-2", placeholder = "Search by Doctor name, Specialty", maxlength = 100, style = "height:10%;" })</td>
                <td><button class="btn btn-outline-success my-2 my-sm-0" style="background: darkcyan; color: white">Search</button></td>
            }
        </tr>
        <tr>
            <td>@Html.ValidationMessage("CityName")</td>
            <td>@Html.ValidationMessage("LookingFor")</td>
            <td>@Html.ValidationMessage("SearchCatagory", new { style = "color: red;" })</td>
        </tr>
    </table>
</div>