@model DoctorConsult.Core.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">

                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Confirm Password</label>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Set Passoword">
                    }
                    
                    @Html.ActionLink("Login", "Login", "Account", new { @class = "forget" })
                    <hr />
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div>

</div>


