@model DoctorConsult.Core.Entity.ViewModel.SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })



<div>
    <div class="container">
        <div class="form-wrap">
            <section class="content">
                <h1>Find your doctor</h1>
                @using (Html.BeginForm())
    {
            <div class="form-group-lg">

                <div class="form-group">
                    @Html.DropDownListFor(x => x.SearchCatagory, new List<SelectListItem>
{
    new SelectListItem() {Text = "Dentist", Value="Dentist"},
    new SelectListItem() {Text = "Pain specaility", Value="Pain specaility"},
    new SelectListItem() {Text = "Cardiology", Value="Cardiology"},
 }, "Select Speciality", new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.SearchCatagory, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.DoctorNameInput, new { @class = "form-control", placeholder = "write your doctor's name(Optional)" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.CityName, new { @class = "form-control", placeholder = "write your doctor's location(Optional)" })
                </div>

                <input type="submit" class="btn btn-success" value="Search" />
            </div>
}<br />
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>4</h3>
                                <p>Refered dr. by another patient</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-ios-people"></i>
                            </div>
                            <a href="@Url.Action("SearchResult", "Patient")" class="small-box-footer">View all refered dr. <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-xs-7">

                    <div class="row">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="nav-tabs-custom" style="cursor: move;">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                <li class="active"><a href="#revenue-chart" data-toggle="tab">My health condition</a></li>
                                <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                                <li class="pull-left header"><i class="fa fa-inbox"></i> Health chart</li>
                            </ul>
                            <div class="tab-content no-padding">
                                <!-- Morris chart - Sales -->
                                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                                    <svg height="300" version="1.1" width="622.75" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; top: -0.633331px;"><desc>Created with Raphaël 2.2.0</desc><defs></defs><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="53.5" y="261" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">0</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M66,261H597.75" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="53.5" y="202" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">30</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M66,202H597.75" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="53.5" y="143" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">50</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M66,143H597.75" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="53.5" y="84.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000000000000028">80</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M66,84.00000000000003H597.75" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="53.5" y="25.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000000000000028">100</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M66,25.00000000000003H597.75" stroke-width="0.5"></path><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="500.18712029161605" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2013</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="263.7102065613609" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2012</tspan></text><path style="fill-opacity: 1;" fill="#74a5c2" stroke="none" d="M66,219.05493333333334C80.86057108140947,219.56626666666668,110.58171324422844,222.62345,125.44228432563791,221.10026666666667C140.3028554070474,219.57708333333335,170.02399756986634,209.1355825136612,184.88456865127583,206.86946666666668C199.58361178614825,204.6279825136612,228.98169805589308,204.88215,243.6807411907655,203.06986666666666C258.37978432563796,201.25758333333332,287.77787059538275,194.9129178506375,302.4769137302552,192.3712C317.3374848116647,189.80155118397084,347.0586269744836,182.51721666666668,361.9191980558931,182.6244C376.7797691373026,182.73158333333333,406.5009113001215,204.18057122040074,421.361482381531,193.22866666666667C436.0605255164034,182.39580455373408,465.45861178614825,101.94395359116025,480.15765492102065,95.48533333333336C494.695170109356,89.09768692449359,523.7702004860267,135.1380230769231,538.307715674362,141.8436C553.1682867557715,148.69818974358975,582.8894289185905,147.7554,597.75,149.726L597.75,261L66,261Z" fill-opacity="1"></path><path style="" fill="none" stroke="#3c8dbc" d="M66,219.05493333333334C80.86057108140947,219.56626666666668,110.58171324422844,222.62345,125.44228432563791,221.10026666666667C140.3028554070474,219.57708333333335,170.02399756986634,209.1355825136612,184.88456865127583,206.86946666666668C199.58361178614825,204.6279825136612,228.98169805589308,204.88215,243.6807411907655,203.06986666666666C258.37978432563796,201.25758333333332,287.77787059538275,194.9129178506375,302.4769137302552,192.3712C317.3374848116647,189.80155118397084,347.0586269744836,182.51721666666668,361.9191980558931,182.6244C376.7797691373026,182.73158333333333,406.5009113001215,204.18057122040074,421.361482381531,193.22866666666667C436.0605255164034,182.39580455373408,465.45861178614825,101.94395359116025,480.15765492102065,95.48533333333336C494.695170109356,89.09768692449359,523.7702004860267,135.1380230769231,538.307715674362,141.8436C553.1682867557715,148.69818974358975,582.8894289185905,147.7554,597.75,149.726" stroke-width="3"></path><circle cx="66" cy="219.05493333333334" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="125.44228432563791" cy="221.10026666666667" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="184.88456865127583" cy="206.86946666666668" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="243.6807411907655" cy="203.06986666666666" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="302.4769137302552" cy="192.3712" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="361.9191980558931" cy="182.6244" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="421.361482381531" cy="193.22866666666667" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="480.15765492102065" cy="95.48533333333336" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="538.307715674362" cy="141.8436" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="597.75" cy="149.726" r="4" fill="#3c8dbc" stroke="#ffffff" style="" stroke-width="1"></circle><path style="fill-opacity: 1;" fill="#eaf3f6" stroke="none" d="M66,240.02746666666667C80.86057108140947,239.8072,110.58171324422844,241.35496666666666,125.44228432563791,239.1464C140.3028554070474,236.93783333333334,170.02399756986634,223.33676429872497,184.88456865127583,222.35893333333334C199.58361178614825,221.39173096539162,228.98169805589308,233.23263333333333,243.6807411907655,231.36626666666666C258.37978432563796,229.4999,287.77787059538275,209.2890577413479,302.4769137302552,207.428C317.3374848116647,205.54649107468123,347.0586269744836,214.43916666666667,361.9191980558931,216.39600000000002C376.7797691373026,218.35283333333336,406.5009113001215,232.37947613843355,421.361482381531,223.08266666666668C436.0605255164034,213.88690947176687,465.45861178614825,148.22682412523022,480.15765492102065,142.42573333333334C494.695170109356,136.6883907918969,523.7702004860267,170.47037838827842,538.307715674362,176.92893333333336C553.1682867557715,183.53101172161175,582.8894289185905,190.23343333333335,597.75,194.66826666666668L597.75,261L66,261Z" fill-opacity="1"></path><path style="" fill="none" stroke="#a0d0e0" d="M66,240.02746666666667C80.86057108140947,239.8072,110.58171324422844,241.35496666666666,125.44228432563791,239.1464C140.3028554070474,236.93783333333334,170.02399756986634,223.33676429872497,184.88456865127583,222.35893333333334C199.58361178614825,221.39173096539162,228.98169805589308,233.23263333333333,243.6807411907655,231.36626666666666C258.37978432563796,229.4999,287.77787059538275,209.2890577413479,302.4769137302552,207.428C317.3374848116647,205.54649107468123,347.0586269744836,214.43916666666667,361.9191980558931,216.39600000000002C376.7797691373026,218.35283333333336,406.5009113001215,232.37947613843355,421.361482381531,223.08266666666668C436.0605255164034,213.88690947176687,465.45861178614825,148.22682412523022,480.15765492102065,142.42573333333334C494.695170109356,136.6883907918969,523.7702004860267,170.47037838827842,538.307715674362,176.92893333333336C553.1682867557715,183.53101172161175,582.8894289185905,190.23343333333335,597.75,194.66826666666668" stroke-width="3"></path><circle cx="66" cy="240.02746666666667" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="125.44228432563791" cy="239.1464" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="184.88456865127583" cy="222.35893333333334" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="243.6807411907655" cy="231.36626666666666" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="302.4769137302552" cy="207.428" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="361.9191980558931" cy="216.39600000000002" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="421.361482381531" cy="223.08266666666668" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="480.15765492102065" cy="142.42573333333334" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="538.307715674362" cy="176.92893333333336" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="597.75" cy="194.66826666666668" r="4" fill="#a0d0e0" stroke="#ffffff" style="" stroke-width="1"></circle></svg><div class="morris-hover morris-default-style" style="left: 22.5px; top: 154px; display: none;">
                                        <div class="morris-hover-row-label">2011 Q1</div><div class="morris-hover-point" style="color: #a0d0e0">
                                            Item 1:
                                            2,666
                                        </div><div class="morris-hover-point" style="color: #3c8dbc">
                                            Item 2:
                                            2,666
                                        </div>
                                    </div>
                                </div>
                                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"><svg height="300" version="1.1" width="652.75" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc>Created with Raphaël 2.2.0</desc><defs></defs><path style="opacity: 0;" fill="none" stroke="#3c8dbc" d="M326.375,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,414.6027551949771,180.44625304313007" stroke-width="2" opacity="0"></path><path style="" fill="#3c8dbc" stroke="#ffffff" d="M326.375,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,417.43864732624417,181.4248826052307L453.9901459070204,194.03833029452744A135,135,0,0,1,326.375,285Z" stroke-width="3"></path><path style="opacity: 1;" fill="none" stroke="#f56954" d="M414.6027551949771,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,242.65984627831412,108.73398312817662" stroke-width="2" opacity="1"></path><path style="" fill="#f56954" stroke="#ffffff" d="M417.43864732624417,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,239.96900205154566,107.40757544301087L200.80226941747117,88.10097469226493A140,140,0,0,1,458.7166327924656,195.6693795646951Z" stroke-width="3"></path><path style="opacity: 0;" fill="none" stroke="#00a65a" d="M242.65984627831412,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,326.34567846904883,243.333328727518" stroke-width="2" opacity="0"></path><path style="" fill="#00a65a" stroke="#ffffff" d="M239.96900205154566,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,326.34473599126824,246.3333285794739L326.3325884998742,284.9999933380171A135,135,0,0,1,205.2870097954186,90.31165416754118Z" stroke-width="3"></path><text style="text-anchor: middle; font-family: &quot;Arial&quot;; font-size: 15px; font-weight: 800;" x="326.375" y="140" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" font-weight="800" transform="matrix(1,0,0,1,0,0)"><tspan dy="140">In-Store Sales</tspan></text><text style="text-anchor: middle; font-family: &quot;Arial&quot;; font-size: 14px;" x="326.375" y="160" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" transform="matrix(1,0,0,1,0,0)"><tspan dy="160">30</tspan></text></svg></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </section>
        </div> <!-- /.row -->
    </div>
</div>