@model IEnumerable<DoctorConsult.Core.Entity.Model.PatientProfileModel>

@{
    ViewBag.Title = "Patient List";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Patient List</h3>
                <div class="form-group-lg">
                    <br />
                    <div class="form-group">
                        <input type="text" name="PatientSeach" class="form-control" placeholder="Seach with name" />
                        <br />
                        <input type="submit" class="btn btn-success" value="Search" />
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Patent's Name</th>
                                <th>Patent's Email</th>
                                <th>Patient's Location</th>
                                <th>Blood </th>
                                <th>Age</th>
                                <th>action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ 
                                if(Model!=null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Area</td>
                                            <td>@item.BloodGroup</td>
                                            <td>@item.Birthday</td>
                                            <td>
                                                <a href="@Url.Action("PatientProfile","Patient", new { patientId = item.Id})" class="btn btn-success btn-sm">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>